.title {
    text-align: center;
}

.centerBttn {
    text-align: center;
}

 body {
    background-color: gray;
}

.gridContainer {
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: white;
}

.gridDiv {
    text-align: center;
    border: 1px solid black;
    flex: 1 1 auto;
    min-width: auto;
    min-height: auto;
    box-sizing: border-box;
}

.gridDiv:nth-child(240) ~ .gridDiv{
    border-bottom: 1px solid black;
}

.gridDiv:nth-child(16n + 1) {
    border-left: 1px solid black;
}

.eraseCont {
    margin: 10px;
    text-align: center;
}

